# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=game_recommender_ai_db

# Backend
JAVA_OPTS=-Xms256m -Xmx512m
GRPC_AI_SERVICE_HOST=ai-service
GRPC_AI_SERVICE_PORT=9090
SPRING_DATASOURCE_URL=jdbc:postgresql://game_recommender_ai_db:5432/game_recommender_ai_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
REDIS_REDIS_URI=redis://redis:6379
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379

# AI Service
DEEPSEEK_API_KEY=your_deepseek_api_key_here
GIGACHAT_API_KEY=your_gigachat_api_key_here
GRPC_PORT=9090
HTTP_PORT=8000