# AI Service API Keys
DEEPSEEK_API_KEY=sk-your-deepseek-api-key-here
GIGACHAT_API_KEY=your-gigachat-api-key-here

# Service Configuration
GRPC_PORT=9090
HTTP_PORT=8000
BACKEND_PORT=8080

# Headers names
REQUEST_ID_HEADER=rquid

# Logging params constants
REQUEST_ID_LOGGING_PARAM=RqUID